name: Deploy App to Render

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    types: [opened, synchronize]

env:
  CONDITION: ${{ github.ref == 'refs/heads/main' && !contains(join(github.event.commits.*.message, ' '), '#skip') }}

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    outputs:
      deploy_triggered: ${{ steps.deploy.outcome == 'success' }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"
          cache-dependency-path: "**/pnpm-lock.yaml"

      - name: Build application
        working-directory: backend
        run: |
          chmod +x build_step.sh
          ./build_step.sh

      - name: Format failure timestamp
        if: failure()
        id: ts_failure
        run: echo "timestamp=$(date +%s)" >> $GITHUB_OUTPUT

      - name: Failure Notify (Embed)
        if: failure()
        uses: rjstone/discord-webhook-notify@v2
        with:
          webhookUrl: ${{ secrets.DISCORD_WEBHOOK }}
          severity: error
          color: "#ff0000"
          title: "Deployment Failed"
          description: "commit ${{ github.event.head_commit.url }} by ${{ github.event.head_commit.author.username }} broke the build"
          footer: "<t:${{ steps.ts_failure.outputs.timestamp }}:R>"

      - name: Trigger deployment
        if: ${{ env.CONDITION == 'true' }}
        id: deploy
        run: curl https://api.render.com/deploy/srv-${{ secrets.RENDER_SERVICE_ID }}?key=${{ secrets.RENDER_API_KEY }}

  tag_release:
    needs: build-and-deploy
    runs-on: ubuntu-latest
    if: ${{ needs.build-and-deploy.outputs.deploy_triggered == 'true' }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Github Tag Bump
        id: bump
        uses: anothrNick/github-tag-action@4ed44965e0db8dab2b466a16da04aec3cc312fd8
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG_PREFIX: "v"
          DEFAULT_BUMP: "patch"

      - name: Format timestamp
        id: ts
        run: echo "timestamp=$(date +%s)" >> $GITHUB_OUTPUT

      - name: Success Notify (Embed)
        uses: rjstone/discord-webhook-notify@v2
        with:
          webhookUrl: ${{ secrets.DISCORD_WEBHOOK }}
          severity: info
          color: "#28a745"
          title: "A new version of phonebook has been deployed!"
          description: |
            Version: ${{ steps.bump.outputs.new_tag }}
            Commit: ${{ github.event.head_commit.url }}
          footer: "<t:${{ steps.ts.outputs.timestamp }}:R>"
